# Project exclude paths
/controller/index-controller.js
/controller/index-controller.js.map
/node_modules/
/typescript-files/app.js
/typescript-files/app.js.map
/utils/handlebar-util.js
/utils/handlebar-util.js.map
/utils/style.js
/utils/style.js.map
/app.js
/app.js.map
/index.js
/index.js.map