<section>
    <form action="" method="post">
        <div>
            <label for="title-input">Title</label>
            <input id="title-input" name="title" type="text" placeholder="Enter title">
        </div>

        <div>
            <label for="importance-input">Importance</label>
            <input id="importance-input" name="importance" type="number" min="1" max="5">
        </div>

        <div>
            <label for="due-date-input">Due Date</label>
            <input id="due-date-input" name="due-date" type="date">
        </div>

        <label for="finished-checkbox">
            <input id="finished-checkbox" name="finished" type="checkbox">
            Finished
        </label>

        <div>
            <label for="description-input">Description</label>
            <textarea id="description-input" name="description" rows="5"></textarea>
        </div>

        <div class="notes-page-buttons-row button-list">
            <button id="update-button" type="submit">Update</button>
            <button id="update-overview-button" type="submit">Update & Overview</button>
            <button id="overview-button" type="submit">Overview</button>
        </div>
    </form>
</section>
