@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Playfair+Display&display=swap');

:root {
    --input-border-radius: 4px;
    --blue-border: #1cbcfc;
    --blue-border-focus: #1279a2;
    --blue-box-shadow: #1279a2;
}

body {
    font-family: 'Noto Serif', serif;
    font-weight: normal;
    font-style: normal;
}

a, button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    align-items: center;
}

header > a {
    color: inherit;
    text-decoration: none;
}

main {
}

label {
    display: block;
    margin-bottom: 10px;
}

datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    writing-mode: horizontal-tb;
    width: 260px;
}

option {
    padding-top: 0.5em;
}

input[type="range"] {
    width: 250px;
    margin: 0;
}

input {
    font-family: inherit;
    border: 1px solid var(--blue-border);
    border-radius: var(--input-border-radius);
    background-color: transparent;
    outline: none;
    padding: 8px;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    font-family: inherit;
    border: 1px solid var(--blue-border);
    border-radius: var(--input-border-radius);
    background-color: transparent;
    outline: none;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
    border: 1px solid var(--blue-border-focus);
    box-shadow: 0 0 4px var(--blue-box-shadow);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form > div {
    margin-bottom: 1em;
}

form > div > input, textarea {
    width: 97%;
}

.parent {
    padding: 2em 10%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.notes-page-buttons-row {
    padding: 1em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter-row {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-row-pull-left {
    display: flex;
    justify-content: flex-start;
}

.create-row {
    display: flex;
    align-items: center;
    justify-content: left;
}

.filter-row-pull-right {
    display: flex;
    justify-content: flex-end;
}

.notes-row {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.note {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
    padding: 10px 0;
    border-top: 1px solid var(--blue-border-focus);
}

.note-edit {
    display: flex;
    align-items: center;
    text-align: center;
}

.note-prio {
    float: right;
    text-align: right;
    padding-right: 10px;
    font-size: 20pt;
}

.note-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.note-col > div:last-child {
    margin-top: 1em;
}

.btn {
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0 12px;
    border: 0 solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(9, 128, 76);
    box-shadow: rgb(19 170 82 / 40%) 0 2px 3px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 97, 73);
    box-shadow: rgb(19 170 82 / 40%) 0 2px 3px, rgb(195 231 202) 0 0 0 3px;
}

.btn-light {
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(6 22 33 / 30%) 0 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: rgb(61, 79, 88);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(93, 108, 116);
    box-shadow: rgb(0 0 0 / 30%) 0 4px 4px, rgb(231 238 236) 0 0 0 3px;
}

.filter-row-pull-right .btn {
    margin-right: 0;
}

.mr-1 {
    margin-right: 1em;
}

@media (max-width: 768px) {
    .parent {
        padding: 2em 1em;
    }

    .note {
        grid-template-columns: repeat(2, 1fr);
    }
    .note > :nth-child(3n+1) {
        grid-column: 1 / -1;
    }
}

@media (max-width: 480px) {
    .filter-row {
        display: inline;
    }

    .filter-row div {
        display: inline;
    }

    .filter-row .mr-1 {
        margin-top: 1em;
        margin-right: 0;
    }

    .filter-row-pull-right .btn {
        margin-top: 1em;
    }
}
